$light-blue: #3071a9 !default;
$dark-blue: #367ebd !default;
$middle-blue: #2a6495 !default;
$black: #000000 !default;
$light-black: #0d0d0d !default;
$darker-black: #010101 !default;
$white: #ffffff !default;
$shadow: 1px 1px 1px $black, 0px 0px 1px $light-black;
